body {
  font-family: monospace;
}

.typing {
  width: 600px;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.bar {
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
}

.health {
  width: 100%;
  height: 24px;
  background-color: green;
  border-radius: 10px;
  transition: width 1s;
}

#history {
  height: 100px;
  overflow: auto;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black, inset 0 1px 0 1px black, 0 0 0 1px black,
    inset 0 0 0 1px black;
  width: 600px;
  padding: 12px;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 2rem;
}

.flex-between {
  justify-content: space-between;
}

.dice {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

p {
  font-size: 3rem;
}

img {
  height: 200px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 4px 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.reset-button {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 4px 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

.show {
  display: block;
}

.hidden {
  display: none;
}
